<body >
  <table class = "table">
    <thead>
      <tr>
        <th style="text-align:center" scope="col"> <%= @post.title%>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"> <br /><%= @post.content %><br /><br />
        </td>
        <td>
          <%= @post.user.name%>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="text-align:right">
          작성일자: <%= @post.created_at %>
        </td>
      </tr>
    </tfoot>
  </table>
  <hr />
  <p><h3>댓글창</h3></p>
  <% @post.comments.each do |comment|%>
    <p ><%=comment.content%><br />
    <%=comment.created_at%></p>  <br />

  <%end%>
  <br /><hr />
  <form action="/home/add_comment">
    <input type="text" name="content" placeholder="댓글?" />
    <input type="hidden" name="id" value="<%=@post.id%>">
    <button type="submit" class="btn btn-primary">뿅!!</button>
  </form>
  <hr />
  <form action="/home/edit">
    <input type="hidden" name="id" value="<%=@post.id%>">
    <input type="submit" value="글 수정하기" />
  </form>

  <h5><a href="/home/postall">게시판으로 돌아가기</a></h5>
</body>
