<body >
  <table class = "table">
    <colgroup>
      <col style="width:30%" />
      <col style="width:50%" />
      <col style="width:20%" />

    </colgroup>
    <thead>
      <tr>
        <th style="text-align:center" scope="col"> <%= @post.title%> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"> <br /><%= @post.content %><br /><br /></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="text-align:right">작성일자: <%= @post.created_at %></td>
      </tr>
    </tfoot>
  </table>
  <hr />
  <p>댓글창</p>
  <% @post.comments.each do |comment|%>
    <%=comment.content%>
  <p ><%=comment.created_at%></p>  <br />

  <%end%>
  <br /><hr />
  <form action="/home/add_comment">
    <input type="text" name="content" placeholder="댓글?" />
    <input type="hidden" name="id" value="<%=@post.id%>">
    <button type="submit" class="btn btn-primary">뿅!!</button>
  </form>
  <hr />
  <h5><a href="/home/postall">게시판으로 돌아가기</a></h5>
</body>
